/* Animações */
@keyframes jumped {
  50% {
    bottom: 20px;
  }

  100% {
    bottom: 15px;
  }

}

@keyframes appear {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes limited1 {
  50% {
    transform: translateX(10%)
  }

  100% {
    transform: translateX(0)
  }
}

@keyframes limited2 {
  50% {
    transform: translateX(-10%)
  }

  100% {
    transform: translateX(0)
  }
}

/* Sections */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #1c0021;
}

::-webkit-scrollbar-thumb {
  background-color: #40ffdc;
  border-radius: 10px;

}


body {
  height: 100vh;
  background: linear-gradient(90deg, #111, 80%, #1c0021);
  color: white;
}

a {
  list-style: none;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

nav {
  position: fixed;
  top: 0;
  font-size: 18px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #1c0021, #111);
  z-index: 100;
}

.logo {
  position: relative;
  color: #40ffdc;
  left: 15px;
  font-size: 20px;
}

nav ul {
  position: absolute;
  right: 15px;
}

nav ul li {

  width: 110px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  margin: 0 15px;
  cursor: pointer;

}

nav ul li a {
  width: 100%;
}

nav ul li:hover {
  background-color: rgba(255, 250, 250, 0.219);
}

main {
  max-width: 100%;
  overflow: hidden;
  margin-top: 2%;
}

.contato {
  position: fixed;
  background-color: #40ffdc;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: jumped 1s ease-in-out infinite;
  cursor: pointer;
}

.contato img {
  width: 40px;
}

.boxContato>a>img {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  opacity: 0;
  transition: all 1s;
  border-radius: 50%;

}

.boxContato a img:hover{
  border: 2px solid #fff;
}

header {
  height: 100vh;
  position: relative;
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.introducao {
  width: 45%;
  font-size: 30px;
}

.introducao>h1 {
  opacity: 0;
  animation: appear 1s forwards;
}

.introducao>p {
  opacity: 0;
  animation: appear 1s forwards 1s;
  margin-top: 15px;
  color: #40ffdc;
}

.introducao>div>a>button {
  width: 200px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(#1c3166, #111);
  color: white;
  margin: 50px 10px 0px 0px;
  padding: 30px;
  cursor: pointer;
  transition: all 1s;

}

.introducao>div>a>button:hover {
  width: 250px;
  background: rgba(255, 250, 250, 0.219);
}

.perfil {
  animation: appear 0.5s forwards;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.boxPerfil {
  height: 560px;
  background: linear-gradient(#1c3166, #111);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.imagePerfil {
  width: 350px;
  height: 350px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

.imagePerfil img {
  width: 100%;
  transform: translateY(30px);
}

.redes {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.redes a img {
  position: relative;
  opacity: 0;
  width: 40px;
  transition: all 1s;
}

.rede:hover {
  top: -5px;
}

.github {
  animation: appear 1s forwards;
}

.linkedin {
  animation: appear 1s forwards 0.5s;
}

.email {
  animation: appear 1s forwards 1s;
}

.insta {
  animation: appear 1s forwards 1.5s;
}

.whats {
  animation: appear 1s forwards 2s;
}

.biografia {
  display: flex;
  justify-content: space-around;
  background: #1c3166;
  width: 100%;
  height: 700px;
  position: relative;
  transition: 1s;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
}

.titulo {
  margin: 15px 0 15px 0;
  position: absolute;
  padding: 10px;
  font-size: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: #40ffdc;
}

.boxBiografia {
  box-sizing: border-box;
  width: 45%;
  height: 100%;
  display: inline-block;
  display: flex;
}

.textos {
  overflow: hidden;
  position: relative;
  background-color: #142246;
  height: 500px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
  transition: 1s;
}

.textoConteudo {
  position: absolute;
  width: 300%;
  height: 80%;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
}

.controle {
  position: absolute;
  bottom: 10px;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 50%;
  bottom: 8%;
  transform: translate(-50%);
}

.boxButton {
  border: 2px solid #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 1s;
  cursor: pointer;
}

.boxButton:hover {
  background-color: #fff;
}

.slide1 {
  background-color: #fff;
}

.boxTexto {
  box-sizing: border-box;
  font-size: 25px;
  padding: 15px;
  width: 34%;
  height: 90%;
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
  display: inline-block;
  transition: 1s;
}

.boxTexto h2 {
  margin-bottom: 15px;
}

.s1 {
  background-color: #027fe9;
}

.gifs {
  position: relative;
}

.imgBio {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
}

.projetos {
  height: 90vh;
}

.container-carrossel {
  width: 100%;
  position: relative;
  padding: 15px;
  margin: auto;
  max-width: 690px;
  top: 50%;
  transform: translateY(-50%);
}

.gallery-wrapper {
  overflow-x: auto;
}

.gallery-wrapper::-webkit-scrollbar {
  display: none;
}

.gallery {
  display: flex;
  flex-flow: nowrap;
  gap: 15px;
}

.projeto {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 250px;
  height: 350px;
  background-color: #027fe9;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.projeto img{
  width: 100px;
}
.current-item {
  border: 3px solid #fff;  
}


.faixaAguarde {
  position: absolute;
  display: flex;
  width: 250%;
  height: 50px;
  background-color: #3d0a49;
  transform: rotate(55deg);
  color: #40ffdc;
  font-size: 25px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
}

.descricao {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
  bottom: -150px;
  padding: 10px;
  text-align: center;
  font-weight: 400;
  transition: .5s ease-in-out;
  font-size: 20px;
  width: 100%;
}

.arrow-left,
.arrow-right {
  position: absolute;
  width: 50px;
  top: 0;
  bottom: 0;
  right: auto;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, transparent 0%, black 200%);
  opacity: 0.5;
}

.arrow-right {
  position: absolute;
  left: auto;
  right: 0;
  background: linear-gradient(to left, transparent 0%, black 200%);
}

.arrow-right:hover {
  opacity: 1;
}

.arrow-right img {
  transform: rotate(180deg);
}

.arrow-left:hover {
  opacity: 1;
}

.arrow-left img,
.arrow-right img {
  width: 30px;
}


.habilidades {
  height: 600px;
  position: relative;
  background-color: #1c3166;
  overflow: hidden;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
}

.linguagens {
  position: relative;
  width: 70%;
  display: flex;
  justify-content: center;
  display: grid;
  gap: 25px;
  grid-template: auto auto/auto auto auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.linguagem {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  transition: all .5s ease-in-out;
  background-color: #3d0a49;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
}

.linguagem:hover {
  top: -20px;
  
}

.linguagem p {
  font-size: 20px;
  font-weight: 400;
}

.linguagem img {
  width: 100px;
}

footer {
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #142246; */
}

.assinatura {
  width: 20%;
  margin: auto;
  text-align: center;
}

.assinatura h2 {
  margin-bottom: 15px;
}

.assinatura p {
  margin-bottom: 15px;
  color: #40ffdc;
}

.assinatura .redes {
  margin: auto;
}

.assinatura img {
  width: 30px;
}

/* Personalização da página 2 */
.header-cv {
  display: flex;
  width: 100%;
  height: 150px;
  align-items: center;
}

.container-CV {
  margin-bottom: 150px;
  position: relative;

}

.container-CV a button {
  padding: 20px;
  background-color: #40ffdc;
  border: none;
  border-radius: 10px;
  margin: 0 20px;


}

.container-CV a button:hover {
  border: 2px solid white;
}

.container-CV a button img {
  width: 30px;
}

.cv {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;


}

.cv img {
  width: 50%;
  border: 2px solid #40ffdc;
  transition: all 1s ease-in-out;
}

.cv img:hover {
  width: 55%;
}

.download {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #40ffdc;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: jumped 1s ease-in-out infinite;
  cursor: pointer;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
}

.download img {
  width: 25px;
}

/* Deixando o site responsivo */

@media (max-width: 1500px) {
  header h1 {
    font-size: 35px;
  }

  header p {
    font-size: 20px;
  }

  .boxPerfil {
    height: 500px;
  }

  .boxTexto {
    font-size: 24px;
  }
  .habilidades{
    height: 90vh;
  }

  .cv img {
    width: 60%;
  }

  .cv img:hover {
    width: 65%;
  }
}

@media (max-width:1100px) {
  header {
    flex-direction: column;
    width: 100%;
    height: 170vh;
  }

  .introducao {
    width: 70%;
  }

  .buttons {
    display: flex;
    justify-content: center;
  }

  .gifs {
    display: none;
  }

  .boxBiografia {
    width: 60%;
  }

  .assinatura {
    width: 30%;
  }

  .cv img {
    width: 70%;
  }

  .cv img:hover {
    width: 75%;
  }
}

@media (max-width:900px) {
 
  .introducao {
    width: 70%;
  }

  .buttons {
    display: flex;
    justify-content: center;
  }

  .header-cv a button {
    padding: 20px;
  }
}

@media (max-width:780px) {
  .logo {
    display: none;
  }

  nav ul {
    position: relative;
    margin: auto;
  }

  .boxBiografia {
    width: 80%;
  }

  .linguagens {
    grid-template: auto auto/ auto auto;

  }

  .habilidades {
    height: 100vh;
  }

  .assinatura {
    width: 50%;
  }
  .cv img {
    width: 80%;
  }

  .cv img:hover {
    width: 85%;
  }

  .header-cv a button {
    padding: 18px;
  }
}

@media (max-width:600px) {
  header {
    height: 200vh;
  }

  nav {
    position: relative;
    height: 200px;
  }

  nav ul li {
    width: 100%;
  }

  .boxBiografia {
    width: 90%;
  }

  .controle {
    width: 30%;
  }

  .cv img {
    width: 90%;
  }

  .cv img:hover {
    width: 95%;
  }

  .header-cv a button {
    padding: 10px;
  }
}

@media (max-width:550px) {

  header h1 {
    font-size: 35px;
  }

  header p {
    font-size: 25px;
  }

  .boxTexto {
    font-size: 20px;
  }
  
  .cv img {
    width: 95%;
  }

  .cv img:hover {
    width: 100%;
  }
}

@media (max-width:500px) {
  .buttons {
    flex-direction: column;
    align-items: center;
  }

  .linguagens {
    grid-template: auto auto auto/ auto;

  }

  .habilidades {
    height: 130vh;
  }

  .assinatura {
    width: 100%;
  }

  .boxPerfil {
    width: 350px;
    height: 460px;
  }

  .imagePerfil {
    width: 300px;
    height: 300px;
  }

  .header-cv a button {
    padding: 5px;
  }

  .header-cv h1 {
    font-size: 30px;
  }

}

@media (max-width:400px) {

  .boxPerfil {
    width: 300px;
    height: 400px;
  }

  .imagePerfil {
    width: 250px;
    height: 250px;
  }

  .boxBiografia {
    height: 65%;
  }

  .boxTexto {
    font-size: 18px;
  }

  .controle {
    width: 40%;
  }
  .descricao {
    bottom: -150px;
  }

}

@media (max-width:350px) {
  .boxTexto {
    font-size: 16px;
  }
}