* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
}

body {
  height: 100vh;
  background: linear-gradient(90deg, #111, 80%, #1c0021);
  color: white;
}

nav {
  position: fixed;
  top: 0;
  font-size: 20px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #1c0021, #111);

}


nav>ul>li {
  width: 110px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  margin: 0 15px;
  cursor: pointer;
}

nav>ul>li:hover {
  background-color: rgba(255, 250, 250, 0.219);
}

.container {
  max-width: 100%;
  overflow: hidden;
  height: 300%;
  margin-top: 2%;
}

/* Estilizando o header */

/* Animações */
@keyframes appear {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* Seções */
header {
  position: relative;
  margin: auto;
  top: 50px;
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.bio {
  width: 45%;
  height: 700px;
  font-size: 30px;
}

.bio>h1 {
  /* opacity: 0; */
  animation: appear 1s forwards;
}

.bio>p {
  /* opacity: 0; */
  animation: appear 1s forwards 1s;
  margin-top: 15px;
}

.bio>button {
  width: 200px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #111, 20%, #1c0021);
  color: white;
  margin: 50px 10px 0px 0px;
  padding: 30px;
  cursor: pointer;
  transition: all 1s;

}

.bio>button:hover {
  width: 250px;
  background: rgba(255, 250, 250, 0.219);



}

.perfil {
  animation: appear 0.5s forwards;
  width: 45%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

}

.perfil>.imagePerfil {
  width: 400px;
  height: 400px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
}

.perfil>.imagePerfil>img {
  width: 100%;
  transform: translateY(30px);
}

.redes {
  width: 70%;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;

}

.redes>img {
  opacity: 0;
  width: 40px;
  transition: all 1s;
}

.github {
  animation: appear 1s forwards;
}

.linkedin {
  animation: appear 1s forwards 0.5s;
}

.email {
  animation: appear 1s forwards 1s;
}

.insta {
  animation: appear 1s forwards 1.5s;
}

.whats {
  animation: appear 1s forwards 2s;
}

/* Sobre Mim */

.sobreMim {
  display: flex;
  justify-content: space-around;
  background: #1c3166;
  width: 100%;
  height: 600px;
  transition: 1s;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);

}

.boxBiografia {
  box-sizing: border-box;
  width: 45%;
  height: 100%;
  /* border: 2px solid black; */
  display: inline-block;
  display: flex;
  /* padding: 10px; */

}

.biografia {
  overflow: hidden;
  position: relative;
  background-color: #142246;
  height: 90%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
  transition: 1s;
}

#content {
  position: absolute;
  width: 300%;
  height: 80%;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  box-sizing: border-box;
  display: flex;


}

#controle {
  position: absolute;
  bottom: 10px;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid; */
  left: 50%;
  bottom: 8%;
  transform: translate(-50%);
}

.boxButton {
  border: 2px solid #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 1s;
}

.boxButton:hover {
  background-color: #fff;
}

.slide1 {
  background-color: #fff;
}

.boxTexto {
  box-sizing: border-box;
  font-size: 28px;
  padding: 15px;
  width: 34%;
  height: 90%;
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
  display: inline-block;
  transition: 1s;
}

.boxTexto h2 {
  margin-bottom: 15px;
}

.s1 {
  background-color: #027fe9;
}

.imagens {
  position: relative;
}

.imagens h1 {
  margin: 15px;
}

.imgBio {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
}

#projetos {
  position: relative;
  margin-top: 100px;

  height: 700px;

}
#projetos h1{
  margin: 15px;
}

.container-carrossel {
  position: relative;
  max-width: 950px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 60px;
  border: none;
  cursor: pointer;
}
button > img {
  width: 50px;
  color: white;
}

.arrow-left {
  left: 0;
  background: linear-gradient(to left,transparent 0%, black 200%);
}

.arrow-right {
  background: linear-gradient(to right,transparent 0%, black 200%);
  right: 0;
}
.arrow-right > img{
  transform: rotate(180deg);
}


.gallery-wrapper {
  overflow-x: auto;
}
.gallery-wrapper::-webkit-scrollbar{
  display: none;
}

.gallery {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  transition: all 1s ease-in-out;
}
@keyframes limited1 {
  50%{transform: translateX(10%)}
  100%{transform: translateX(0)}
}
@keyframes limited2 {
  50%{transform: translateX(-10%)}
  100%{transform: translateX(0)}
}
.projeto {
  overflow: hidden;
  width: 320px;
  height: 420px;
  flex-shrink:0;
  transition: all 1s ease-in-out;
  background-color:#00a9d4;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
}
.projeto:hover{
  border: 4px solid white;
}
.animation{
}
.projeto img{
  width: 100px;
}
.faixa{
  background-color:#027fe9;
  width: 200%;
  height: 50px;
  transform: rotate(55deg);
  position: absolute;
  color: #111;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
}

.descricao{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
  bottom: -60px;
  padding: 10px;
  text-align: center;
  font-weight:400;
  transition: .5s ease-in-out;
}

