/* Animações */
@keyframes jumped {
  50%{bottom: 20px;}
  100%{bottom:15px;}
  
}
@keyframes appear {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes limited1 {
  50%{transform: translateX(10%)}
  100%{transform: translateX(0)}
}
@keyframes limited2 {
  50%{transform: translateX(-10%)}
  100%{transform: translateX(0)}
}

/* Sections */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
}


a{
  list-style: none;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

body {
  height: 100vh;
  background: linear-gradient(90deg, #111, 80%, #1c0021);
  color: white;
}

nav {
  position: fixed;
  top: 0;
  font-size: 20px;
  width:100%;
  height: 50px;
  display: flex;
  justify-content:center;
  align-items: center;
  background: linear-gradient(90deg, #1c0021, #111);
  z-index: 100;
}

nav ul li {
  width: 110px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  margin: 0 15px;
  cursor: pointer;
}

nav li:hover {
  background-color: rgba(255, 250, 250, 0.219);
}

main{
  max-width: 100%;
  overflow: hidden;
  margin-top: 2%;
}

.contato{
  position: fixed;
  background-color:#40ffdc;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: jumped 1s ease-in-out  infinite;
  cursor: pointer;
}

.contato  img{
  width: 45px;
}

.boxContato > a > img{
  width: 60px;
  height: 60px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  opacity: 0;
  transition: all 1s;
}

header {
  height: 100vh;
  position: relative;
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.introducao {
  width: 45%;
  font-size: 30px;
}

.introducao>h1 {
  opacity: 0;
  animation: appear 1s forwards;
}

.introducao>p {
  opacity: 0;
  animation: appear 1s forwards 1s;
  margin-top: 15px;
  color: #40ffdc;
}

.introducao>button {
  width: 200px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(#1c3166, #111);
  color: white;
  margin: 50px 10px 0px 0px;
  padding: 30px;
  cursor: pointer;
  transition: all 1s;

}

.introducao > button:hover {
  width: 250px;
  background: rgba(255, 250, 250, 0.219);
}

.perfil {
  animation: appear 0.5s forwards;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.boxPerfil{
  height: 600px;
  background: linear-gradient(#1c3166, #111);
  padding:20px;
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.imagePerfil {
  width: 400px;
  height: 400px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
}

.imagePerfil img {
  width: 100%;
  transform: translateY(30px);
}

.redes {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.redes a img {
  position: relative;
  opacity: 0;
  width: 40px;
  transition: all 1s;
}

.rede:hover{
  top: -5px;
}

.github {
  animation: appear 1s forwards;
}

.linkedin {
  animation: appear 1s forwards 0.5s;
}

.email {
  animation: appear 1s forwards 1s;
}

.insta {
  animation: appear 1s forwards 1.5s;
}

.whats {
  animation: appear 1s forwards 2s;
}

.biografia {
  display: flex;
  justify-content: space-around;
  background: #1c3166;
  width: 100%;
  height: 700px;
  position: relative;
  transition: 1s;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
}

.titulo{
  margin: auto;
  position: absolute;
  padding: 10px;
  font-size: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: #40ffdc;
}

.boxBiografia {
  box-sizing: border-box;
  width: 45%;
  height: 100%;
  display: inline-block;
  display: flex;
}

.textos {
  overflow: hidden;
  position: relative;
  background-color: #142246;
  height: 500px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
  transition: 1s;
}

.textoConteudo {
  position: absolute;
  width: 300%;
  height: 80%;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
}

.controle {
  position: absolute;
  bottom: 10px;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 50%;
  bottom: 8%;
  transform: translate(-50%);
}

.boxButton {
  border: 2px solid #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 1s;
  cursor: pointer;
}

.boxButton:hover {
  background-color: #fff;
}

.slide1 {
  background-color: #fff;
}

.boxTexto {
  box-sizing: border-box;
  font-size: 28px;
  padding: 15px;
  width: 34%;
  height: 90%;
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
  display: inline-block;
  transition: 1s;
}

.boxTexto h2 {
  margin-bottom: 15px;
}

.s1 {
  background-color: #027fe9;
}

.gifs {
  position: relative;
}

.imgBio {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
}

.projetos {
  position: relative;
  margin-top: 100px;
  height: 700px;
}

.container-carrossel {
  position: relative;
  max-width: 950px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 60px;
  border: none;
  cursor: pointer;
  opacity: 0.4;
}

button > img {
  width: 50px;
  color: white;
}

.arrow-left {
  left: 0;
  background: linear-gradient(to left,transparent 0%, black 200%);
}

.arrow-left:hover{
  opacity: 1;
  }

.arrow-right {
  background: linear-gradient(to right,transparent 0%, black 200%);
  right: 0;
}

.arrow-right:hover{
  opacity: 1;
  }

.arrow-right > img{
  transform: rotate(180deg);
}

.container-galeria {
  overflow-x: auto;
}

.container-galeria::-webkit-scrollbar{
  display: none;
}

.galeria{
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  transition: all 1s ease-in-out;
}

.projeto {
  overflow: hidden;
  width: 320px;
  height: 420px;
  flex-shrink:0;
  transition: all 1s ease-in-out;
  background-color:#00a9d4;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
}

.projeto:hover{
  border: 4px solid white;
}

.animation{
}

.projeto img{
  width: 100px;
}

.faixaAguarde{
  background-color:#027fe9;
  width: 200%;
  height: 50px;
  transform: rotate(55deg);
  position: absolute;
  color: #111;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
}

.descricao{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
  bottom: -90px;
  padding: 10px;
  text-align: center;
  font-weight:400;
  transition: .5s ease-in-out;
  font-size: 20px;
  width: 100%;
}

.habilidades{
  height: 900px;
  position: relative;
  background-color: #1c3166;
  margin-top: 100px;
}

.linguagens{
  position: relative;
  width: 70%;
  display: flex;
  justify-content: center;
  display: grid;
  gap: 25px;
  grid-template: auto auto/auto auto auto;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
}

.linguagem{
  display: inline-block;
  width: 220px;
  height: 320px;
  background-color: #3d0a49;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  transition: all 1s ease-in-out;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
}

.linguagem:hover{
  background-color: #561066;
  top:-20px;
}

.linguagem img{
  width: 100px;
}

footer{
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.assinatura{
  width: 20%;
  margin: auto;
  text-align: center;
}

.assinatura h2{
  margin-bottom: 15px;
}

.assinatura p{
  margin-bottom: 15px;
  color:#40ffdc;
}

.assinatura .redes{
  margin: auto;
}

.assinatura img{
  width: 30px;
}